body {
    background-color: rgb(255, 248, 239);
  }
 
  h1 {
    color: rgb(131, 165, 242);
    margin-left: 20px;
    text-align: center;
    border-style: none;
    background-color: white;
    font-family: Georgia, serif;
  }

  h2{
    color: rgb(131, 165, 242);
    margin-left: 20px;
    text-align: center;  
  }

  p{
    color:white;
    font-size: 20px;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .Inleiding{
    border-style: none ;
    background-color: rgb(255, 189, 216);
    width: 90%;
    margin-left: 70px;
  }

  .Hoofdtekst{
    border-style: none ;
    background-color: rgb(255, 189, 216);
  }

  .waarom-informatica{
    border-style: none ;
    background-color: rgb(255, 189, 216);
  }


 /*menu bar*/
 ul { /*de achtergrond/bar van van het menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(131, 165, 242);
  }
  
  li {
    float: left;
    width: 16%; /*breedte van de menu knoppen*/
  }
  
  li a { /*tekst kleur/opmaak*/
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  rgb(111, 131, 228); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
  }
  /*dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .active{background-color:  rgb(60, 76, 154);} /*zodat je weet op welke pagina je bent via het menu*/