body 
{
    background-color: rgb(255, 248, 239);
  }
 
  h1 /**alles wat grootte h1 heeft krijgt deze opmaak**/
  {
    color: rgb(131, 165, 242);
    margin-left: 20px;
    text-align: center;
    border-style: none;
    background-color: white;
    font-family: Georgia, serif;
  }

  h2 /**alles wat grootte h2 heeft krijgt deze opmaak**/
  {
    color: rgb(131, 165, 242);
    margin-left: 20px;
    text-align: center;  
  }

  p /**alles wat grootte p heeft krijgt deze opmaak**/
  {
    color:white;
    font-size: 20px;
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .Inleiding /**alles met de class "inleiding" in html krijgt deze opmaak**/
  {
    border-style: none ;
    background-color: rgb(255, 189, 216);
    width: 90%;
    margin-left: 70px;
    padding-top: 0,8%;
    padding-bottom: 0,8%;
  }

  .Hoofdtekst /**alles met de class "hoofdtekst" in html krijgt deze opmaak**/
  {
    border-style: none ;
    background-color: rgb(255, 189, 216);
    padding-top: 0,8%;
    padding-bottom: 0,8%;
  }

  #hockey {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #paardrijden {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #footer-p /**alles met het idee "footer-p" in html krijgt deze opmaak**/ 
  {
    color:white;
    font-size: 15px;
    text-align: center;   
    border-style: none ;
    background-color: rgb(131, 165, 242);
    padding: 5px; 
    padding-left: 100px;
    padding-right: 100px;

  }

 /*menu bar*/
 ul { /*de achtergrond/bar van van het menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(131, 165, 242);
  }
  
  li {
    float: left;
    width: 16%; /*breedte van de menu knoppen*/
  }
  
  li a { /*tekst kleur/opmaak*/
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  rgb(111, 131, 228); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
  }
  /*dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .active{background-color:  rgb(60, 76, 154);} /*zodat je weet op welke pagina je bent via het menu*/