body {
    background-color: rgb(255, 248, 239);
  }
 
  p {
    color: rgb(255, 151, 192);
    margin-left: 20px;
  }

  h1 {
    color: rgb(255, 151, 192);
    margin-left: 20px;
  }

 /*menu bar*/
 ul { /*de achtergrond/bar van van het menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(131, 165, 242);
  }
  
  li {
    float: left;
    width: 19%; /*breedte van de menu knoppen*/
  }
  
  li a { /*tekst kleur/opmaak*/
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  rgb(60, 76, 154); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
  }
  /*dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
  }