body {
    background-color: white;
  }
 
  h1 {
    color: skyblue;
    margin-left: 20px;
  }


 /*menu bar*/
 ul { /*de achtergrond/bar van van het menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
  }
  
  li {
    float: left;
    width: 18%;
  }
  
  li a { /*tekst kleur/opmaak*/
    display: block;
    color: skyblue;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 0, 40); /*code voor de achtergrondkleur van als je over de tekst heen hovert*/
  }
  /*dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
  }